@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
  /* navbar starts */
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-left: 6%;
  }

  .union-bar {
    padding-right: 6%;
    padding-top: 1.2%;
  }

  .logo a {
    color: #6070ff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
  }

  /* navbar ends */

  /* headline starts */
  .headline {
    padding-top: 17%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 17%;
    margin-bottom:3%;
    background-image: url(./Properties/header-shapes\ mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .headline-heading {
    color: #172b4d;
  }

  .headline-heading h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-size: 2rem;
  }

  .headline-description {
    font-weight: 400;
    color: #344563;
  }

  .social-media {
    font-weight: 500;
    color: #7f8cff;
  }

  .social-media h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 100%;
  }

  .social-media-icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }

  .social-media-icons li {
    padding-right: 6%;
  }

  /* headline ends */

  /* Works starts */

  .works {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    row-gap: 4.5rem;
    padding-top: 17%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 17%;
    background-color: rgba(229, 229, 229, 0.3);
  }

  .cards {
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 1.6rem;
    padding: 4%;
    display: flex;
    flex-direction: column;
    
  }

  .project-snippet img {
    width: 100%;
  }

  .project-details {
    display: flex;
    flex-direction: column;
  }
  .project-details-heading {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .project-details-heading h3 {
    font-size: 2rem;
    margin-block-start: 0.3rem;
    margin-block-end: 0;
    color: #172B4D;
  }
  .project-details-heading ul {
    display: flex;
    justify-content: flex-start;
    padding-right: 1.5%;
    margin-block-start: 0.6rem;
    margin-block-end: 1rem;
    padding-inline-start: 0;
  }

  .first-list-item {
    list-style-type: none;
    color: #344563;
    font-weight: 600;
    padding-right: 1.5rem;
    font-size: 0.9rem;
  }

  .list-items {
    font-weight: 600;
    color: #7A869A;
    font-size: 0.9rem;
    padding-right: 8%;
  }

  .project-details p {
    font-weight: 400;
    color: #344563;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .tools{
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 0;

  }
  .tools-items {
    display: inline-block;
    background: #EBEBFF;
    border-radius: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 0.8rem;
    font-weight: 500;
    color: #6070FF;
  }
  .see-project {
    width: 45%;
    padding: 4%;
    border: 2px solid #6070FF;
    border-radius: 0.7rem;
    color: #396DF2;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
  }
  .see-project:hover {
    background: #6070FF;
    box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
    color: #FFFFFF;
  }
  .see-project:focus {
    background: #2230D2;
    color: #FFFFFF;
  }

  /* Works ends */
  
}
